body{
	text-align: center;
}

/* memory game header*/
header{
	background-color: #f15b31;
	padding: 30px 20px;
}
body{
	margin: 0;
}
h1{
	font-family: "Raleway", sans-serif;
	color: #ffffff;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
/* instructions header */
h2{
	font-family: "Raleway", sans-serif;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

/* instructions and game links*/
nav{
	background-color: #00a6b3;
	font-color: #ffffff;
	padding: 20px 0;
	border-bottom: 2px solid transparent;
}
a{
	font-family: "Raleway", sans-serif;
	color: #ffffff;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}
a:hover{
	border-color: white;
}

/* main game discriptions */
main{
	width: 850px;
	margin: 35px auto;
}
img{
	margin: 40px 8px;
}
p{
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}
/* header and link */
h1,a {
	text-transform: uppercase;
	text-decoration: none;
}
/*footer*/
footer{
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.name{
	color: #f15b31;
	font-weight: 700;
}
.copyright{
	font-family: "Raleway", sans-serif;
	float: left;
}
.message{
	font-family: "Raleway", sans-serif;
	float: right;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
}  